@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u4ws8o');
  src:  url('fonts/icomoon.eot?u4ws8o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u4ws8o') format('truetype'),
    url('fonts/icomoon.woff?u4ws8o') format('woff'),
    url('fonts/icomoon.svg?u4ws8o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-language:before {
  content: "\f1ab";
}
