{{ define "main" -}}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="breadcrumbs">
  <h3 class="breadcrumb">{{i18n "analytics"}}</h3>
</div>
<div class="post">
  <h2>{{i18n "hit-trend"}}</h2>
  <p>{{i18n "hit-trend-sub"}}</p>
  <div id="hit-trend-container">{{i18n "loading"}}</div>
</div>
<div class="post">
  <h2>{{i18n "top-pages"}}</h2>
  <p>{{i18n "top-pages-sub"}}</p>
  <div id="top-pages-container">{{i18n "loading"}}</div>
</div>
<div class="post">
  <h2>{{i18n "top-queries"}}</h2>
  <p>{{i18n "top-queries-sub"}}</p>
  <div id="top-queries-container">{{i18n "loading"}}</div>
</div>
<div class="post">
  <h2>{{i18n "site-speed"}}</h2>
  <p>{{i18n "site-speed-sub"}}</p>
  <div id="site-speed-container">{{i18n "loading"}}</div>
</div>
<script>

  google.charts.load('current', { 'packages': ['corechart'] });

  google.charts.setOnLoadCallback(drawHitTrend);

  google.charts.setOnLoadCallback(drawTopPages);

  google.charts.setOnLoadCallback(drawTopQueries);

  google.charts.setOnLoadCallback(drawSiteSpeed);

  function drawHitTrend() {

    fetch("/api/analytics/hit-trend")
      .then(function (response) {
        return response.json();
      })
      .then(function (rows) {
        // Create the data table for Sarah's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Hits');
        rows.map(function (e) {
          var year = e[0].substring(0, 4);
          var month = e[0].substring(4, 6);
          var day = e[0].substring(6, 8);
          e[0] = new Date(year, month - 1, day)
          e[1] = parseFloat(e[1])
          return e;
        })
        data.addRows(rows);

        // Set options for Sarah's pie chart.
        var options = {
          height: '400',
          width: '100%',
          legend: { 'position': 'none' },
          chartArea: { width: "100%", height: "80%" }
        };

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.LineChart(document.getElementById('hit-trend-container'));
        chart.draw(data, options);
      })

  }

  // Callback that draws the pie chart for Anthony's pizza.
  function drawTopPages() {

    fetch("/api/analytics/top-pages")
      .then(function (response) {
        return response.json();
      })
      .then(function (rows) {
        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Path');
        data.addColumn('number', 'Hits');
        rows.map(function (e) {
          e[1] = parseFloat(e[1])
          return e;
        })
        data.addRows(rows);

        // Set options for Anthony's pie chart.
        var options = {
          height: '400',
          width: '100%',
          chartArea: { width: "100%", height: "80%" }
        };

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('top-pages-container'));
        chart.draw(data, options);
      })
  }

  function drawTopQueries() {

    fetch("/api/analytics/top-queries")
      .then(function (response) {
        return response.json();
      })
      .then(function (rows) {
        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Query');
        data.addColumn('number', 'Clicks');
        rows2 = [];
        for (var i in rows) {
          rows2.push([rows[i].keys[0], rows[i].clicks])
        }
        data.addRows(rows2);

        // Set options for Anthony's pie chart.
        var options = {
          height: '500',
          width: '100%',
          legend: { 'position': 'none' },
          chartArea: { width: "80%", height: "80%" },
          fontSize: 11
        };

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.BarChart(document.getElementById('top-queries-container'));
        chart.draw(data, options);
      })
  }

  function drawSiteSpeed() {

    fetch("/api/analytics/site-speed")
      .then(function (response) {
        return response.json();
      })
      .then(function (rows) {
        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Avg. Load Time');
        rows.map(function (e) {
          e[1] = parseFloat(e[1])
          return e;
        })
        data.addRows(rows);

        // Set options for Anthony's pie chart.
        var options = {
          height: '500',
          width: '100%',
          legend: { 'position': 'none' },
          chartArea: { width: "80%", height: "80%" },
          fontSize: 11
        };

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.BarChart(document.getElementById('site-speed-container'));
        chart.draw(data, options);
      })
  }
</script>
{{- end }}