<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
          <div class="field">
              <div class="control has-icons-left">
                <div class="select is-rounded  is-small">
                  <select size="1" name="links" onchange="window.location.href=this.value;">
                    <option selected disabled>{{ i18n "language" }}</option>
                    {{ range $.Site.Home.AllTranslations }}
                    <option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
                    {{ end }}
                  </select>
                </div>
                <div class="icon is-small is-left">
                  <i class="fa fa-globe"></i>
                </div>
              </div>
            </div>
      </div>
      <div class="column is-one-third">
        <div class="content has-text-centered">
          <p>
            {{ .Site.Params.copyright}}
          </p>
        </div>
      </div>
      <div class="column is-one-third has-text-right">
        
      </div>
    </div>
  </div>
</footer>