{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ if eq .Section "posts"}}
    {{ partial "date" . }}
  {{ end }}
  {{ if .Params.toc }}
  <aside>
    <header>
      <p>Table of Contents</p>
    </header>
    {{ .TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
    <hr>
  </aside>
  {{ end }}
  {{ .Content }}
</div>


{{ if (not (eq .Site.DisqusShortname "")) | and (not .Params.disableComments) }}
  <h2>Comments</h2>
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{- end }}