<div class="sidebar">
    <div class="menu-bar">
        {{ if eq $.Site.Language.Lang "en" }}
          <a class="menu-item" href="/zh{{ .URL }}"><span class="icon-globe"></span> <span>简体中文</span></a>
        {{ else }}
          <a class="menu-item" href="{{ strings.TrimPrefix "/zh" .URL }}"><span class="icon-globe"></span> <span>English</span></a>
        {{ end}}
        <a href="#" class="menu-item menu-toggle"><span class="icon-bars"></span></a>
        
      </div>
  <div class="sidebar-sticky">
    <div class="sidebar-about">
      <a href={{"/" | absLangURL}}><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      {{ range .Site.Menus.main -}}
        <li><a href="{{.URL | absLangURL}}">{{ .Pre }} {{ .Name }} </a></li>
      {{- end }}
    </ul>

    <!-- <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p> -->
  </div>
</div>
<script>
    function sidebarNavToggle() {
      document.querySelectorAll('.sidebar-nav')[0].classList.toggle('sidebar-nav-show');
    }
    document.querySelector('.menu-toggle')
      .addEventListener('click', sidebarNavToggle);
</script>