ion-icon {
    margin-bottom: -6px;
}

.blue {
    color: #0077B5
}

.green {
    color: #4caf50
}

.red {
    color: #f44336
}

.inline-image {
    border: none !important;
    box-shadow: none !important;
    margin:0 !important;
    height: 30px !important;
}

.topbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding-left: 4em;
    color: #CCC;
    z-index: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif
}

.topbar a {
    color:#0073b1;      /* unvisited link */
    text-decoration: none;
}

.topbar a:visited {
    color:#0073b1;  /* visited link */
}

.topbar a:hover {
    color:#0073b1;  /* mouse over link */
}

.topbar a:active {
    color:#0073b1;  /* selected link */
}