{{ define "header" }} {{ partial "menu" . }} {{ end }}
{{ define "title" -}}
{{ .Title }} - {{ .Description }} | {{ .Site.Title }}
{{- end }}

{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <p class="title">{{.Title}}</p>
        <p class="subtitle">{{.Description}}</p>
      </div>
    </div>
    <br />
    <div class="columns">
      <div class="column is-8 is-offset-2">
        {{ range .Sections }}
          <div class="card">
            <div class="card-content">
              <div class="columns is-mobile">
                <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-third-mobile">
                    <img src="{{ .Permalink }}{{ .Params.cover_image }}" alt="{{ .Title }}">
                </div>
                <div class="column">
                  <div class="title is-4">{{ .Title }}</div>
                  <div class="text">{{ .Description }}</div>
                  <br />
                  <a href="{{.Permalink}}">{{ i18n "read_my_notes" }} →</a>
                </div>
              </div>
            </div>
          </div>
        
        {{ end }}
      </div>
    </div>
  </div>
  <div class="container">
    {{ partial "pagination" . }}
  </div>
</div>
{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}