{{ define "main" -}}
<div class="breadcrumbs">
    <h3 class="breadcrumb">{{i18n "friends"}}</h3>
</div>
<div class="tiles">
    <div class="tile">
        <h4>
            <a href="/api/go?url=http://chuangzaoshi.com/">
                <span>
                    <img src="/images/chuangzaoshi.png" alt="创造狮导航">
                </span>
                <span>创造狮导航</span>
            </a>
        </h4>
        <p>为创意工作者而设计</p>
    </div>
    <div class="tile">
        <h4>
            <a href="/api/go?url=http://zy2071.com">
                <span>
                    <img src="/images/yu-zhang.jpg" alt="Yu Zhang">
                </span>
                <span>Yu Zhang</span>
            </a>
        </h4>
        <p>喜欢前端，喜欢足球 ，喜欢历史，喜欢商业。</p>
    </div>
</div>
{{- end }}