<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSfke6mPjo_V1xk6AoqH35KhPtiqx5wk-hd1iWoDm-J4ITKUag/viewform?embedded=true"
  width="100%" id="referral-iframe" scrolling="no"></iframe>
<style>
  #referral-iframe {
    height: 2300px;
  }

  @media screen and (min-width: 350px) {
    #referral-iframe {
      height: 2200px;
    }
  }

  @media screen and (min-width: 600px) {
    #referral-iframe {
      height: 1700px;
    }
  }

  @media screen and (min-width: 760px) {
    #referral-iframe {
      height: 1800px;
    }
  }
</style>